@font-face {
    font-family: 'SourceHanSansBold';
    src: url('../assets/font/SourceHanSansCN-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceHanSansRegular';
    src: url('../assets/font/SourceHanSansCN-Regular.ttf') format('truetype');
}

.p-header{
    font-family: 'SourceHanSansBold';
}
.p-body{
    font-family: 'SourceHanSansRegular';
}

@media screen and (max-width:480px){
    html{
        font-size: 13px;
    }
    .header {
        font-size: 2rem!important;
    }
}